// COLORS
$color-white: white;
$color-black: black;
$color-black-light: #252525;
$color-gray: gray;
$color-gray-light: #dfdfdf;
$color-gray-dark: #5d5d5d;
$color-primary: #b4191e;
$color-primary-light: #d70f15;
