.u-max-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-display-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.u-average-margin-top {
  margin-top: 30px;
}

.u-average-margin-right {
  margin-right: 30px;
}

.u-position-absolute {
  position: absolute;
  padding: 16px 0px 0px 0px;
}

.u-zindex--one {
  z-index: -1;
}

@media (max-width: 810px) {
  .u-average-margin-top {
    margin-top: 10px;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url("images/background/main-background.png");
  background-size: cover;
  overflow-x: hidden;
}

@font-face {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: normal;
  src: url("typography/Noteworthy-Lt.ttf");
}

@font-face {
  font-family: "Proxima Soft Black";
  font-style: bold;
  font-weight: bold;
  src: url("typography/Mark Simonson - Proxima Soft Black.ttf");
}

@font-face {
  font-family: "Proxima Soft Extrabold";
  font-style: normal;
  font-weight: normal;
  src: url("typography/Mark Simonson - Proxima Soft Cond Extrabold.ttf");
}

@font-face {
  font-family: "Proxima Soft";
  font-style: normal;
  font-weight: normal;
  src: url("typography/Mark Simonson - Proxima Soft.ttf");
}

.heading-primary {
  font-family: "Proxima Soft Black";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 48px;
  color: #1c4fa2;
}

.heading-secondary {
  font-family: "Proxima Soft Black";
  color: #27a7e3;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}

.heading-tertuary {
  font-family: "Proxima Soft";
  font-size: 24px;
  font-weight: 400;
  color: #1c4fa2;
}

@media (max-width: 1100px) {
  .heading-primary {
    font-size: 42px;
  }

  .heading-secondary {
    font-size: 20px;
  }

  .heading-tertuary {
    font-size: 20px;
  }
}

@media (max-width: 975px) {
  .heading-primary {
    font-size: 24px;
  }

  .heading-secondary {
    font-size: 28px;
  }

  .heading-tertuary {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .heading-primary {
    font-size: 20px;
  }

  .heading-secondary {
    font-size: 24px;
  }

  .heading-tertuary {
    font-size: 20px;
  }
}

.header {
  width: 100%;
}

.header-nav {
  z-index: 99999;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3410d;
  height: 50px;
}

.header-nav__logo {
  margin-top: 53.5px;
  padding-left: 15px;
}

.header-nav__navigation .navigation-list {
  list-style: none;
  display: flex;
}

.header-nav__navigation .navigation-item {
  padding: 0px 25px;
}

.header-nav__navigation .navigation-link {
  cursor: pointer;
  font-size: 20px;
  font-family: Noteworthy;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.header-nav .header-burgermenu {
  display: none;
  margin-right: 10px;
}

.header-nav .header-burgermenu img {
  width: 42px;
  cursor: pointer;
}

@media (max-width: 1075px) {
  .header-nav__navigation .navigation-link {
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .header-nav__logo {
    margin-top: 18px;
  }

  .header-nav__logo img {
    width: 90px;
  }
}

@media (max-width: 920px) {
  .header-nav__navigation {
    display: none;
  }

  .header-nav .header-burgermenu {
    display: block;
  }
}

.registration_container {
  width: 100%;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration {
  display: flex;
  flex-direction: column;
  width: 1172px;
  height: 681px;
  background-size: cover;
  background-image: url("images/background/registration.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.registration .error-number,
.registration .error-check {
  opacity: 1;
  z-index: -22;
  margin-top: 5px;
  color: #f3410d;
  font-family: "Proxima Soft";
  font-size: 16px;
  font-weight: 400;
}

.registration-title {
  position: relative;
  text-align: center;
  margin-top: 85px;
}

.registration-title__logo {
  position: absolute;
  top: -90px;
  right: 0px;
}

.registration-descr {
  text-align: center;
  max-width: 550px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-card {
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0 5px 30px rgba(44, 71, 23, 0.2);
  border-radius: 20px;
}

.registration-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.registration .photo-check {
  display: flex;
  margin-top: 5px;
  height: 80px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1100px) {
  .registration-title {
    margin-top: 120px;
  }

  .registration-card {
    padding-top: 10px;
    height: 200px;
    width: 240px;
  }

  .registration-submit {
    margin-top: 10px;
  }

  .registration .photo-check {
    margin-top: -5px;
  }
}

@media (max-width: 975px) {
  .registration {
    width: 500px;
    background-position: top;
  }

  .registration-title {
    margin-top: 295px;
  }

  .registration-title__logo {
    width: 60%;
    top: -315%;
    right: 19.5%;
  }

  .registration-card {
    height: 230px;
    width: 280px;
  }
}

@media (max-width: 400px) {
  .registration-title {
    margin-top: 255px;
  }

  .registration-title__logo {
    width: 60%;
    top: -315%;
    right: 19%;
  }

  .registration-card {
    width: 265px;
  }
}

@media (max-width: 345px) {
  .registration-title__logo {
    width: 60%;
    top: -215%;
    right: 19%;
  }
}

@media (max-width: 298px) {
  .registration-title {
    margin-top: 190px;
  }

  .registration-title__logo {
    width: 60%;
    top: -120%;
    right: 19%;
  }
}

.family {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.family-info {
  display: flex;
  align-items: center;
}

.family-info__descr {
  float: right;
  max-width: 566px;
  margin: 0px 0px 0px 50px;
}

.family-info__descr .person-descr {
  font-weight: 600;
}

.family-info__img {
  position: relative;
  width: 575px;
  height: auto;
}

.family-info__img img {
  max-width: 100%;
  height: auto;
}

.family-title {
  margin-top: 30px;
}

.family .family-slider {
  position: relative;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.family .family-slider .slider-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
}

.family .family-slider .family-slider__elem {
  position: relative;
  width: 130px;
  height: 130px;
  padding: 0px 48.4px;
  position: relative;
  cursor: pointer;
}

.family .family-slider .family-slider__elem img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  transition: all 0.2s;
}

.family .family-slider .family-slider__elem img:hover {
  height: 110px;
}

.family .family-slider .is-active__slider {
  z-index: -1;
  background: #fffabf;
  width: 140px;
  height: 130px;
  border-radius: 50%;
}

@media (max-width: 1260px) {
  .family .family-slider {
    width: 860px;
  }
}

@media (max-width: 975px) {
  .family .family-slider {
    width: 710px;
  }
}

@media (max-width: 810px) {
  .family-info {
    flex-direction: column;
  }

  .family-info__title {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .family-info__title-text {
    margin-left: 10px;
    font-size: 24px;
  }

  .family .family-slider {
    display: none;
  }

  .family-title {
    display: none;
  }

  .family .person-img {
    padding: 35px 0px 0px 10px;
  }
}

@media (max-width: 600px) {
  .family {
    margin-top: 180px;
  }

  .family-info__descr {
    margin: 0px;
  }

  .family-info__img {
    width: 400px;
  }

  .family .person-img {
    padding: 0px;
  }

  .family .person-descr {
    max-width: 376px;
    text-align: center;
  }
}

@media (max-width: 435px) {
  .family-info__descr .family-info__title {
    flex-direction: column;
  }

  .family-info__img {
    width: 335px;
  }
}

.prizes {
  margin-top: 80px;
}

.prizes-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prizes-boxs {
  margin-top: 50px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prizes-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prizes-box__img img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 810px) {
  .prizes {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
  }

  .prizes-boxs {
    flex-direction: column;
  }

  .prizes-boxs .prizes-box {
    margin-top: 20px;
  }
}

.winners {
  margin: 150px 0px 0px 0px;
  width: 100%;
  z-index: 0;
  position: relative;
}

.winners-background {
  top: 165px;
  z-index: -2;
  width: 100%;
  height: 1010px;
  position: absolute;
  background-image: url("images/background/winners-bacground.png");
  background-size: cover;
  background-position: center;
}

.winners-background__athletics {
  position: absolute;
  top: -3%;
  left: 21%;
}

.winners-background__message {
  position: absolute;
  top: 28%;
  right: 5%;
}

.winners-background .winners-message {
  position: absolute;
  right: 15%;
  top: 7%;
  width: 330px;
}

.winners-white__background {
  height: 455px;
  width: 100%;
  margin: 6% 0 0;
  background-size: cover;
  z-index: -99;
  background-image: url("images/background/footer-white-background.png");
  background-position: top;
}

.winners-title {
  margin-top: -50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.winners-practical__jokes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.winners-practical__jokes .winners-numbers__box {
  margin-top: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.winners-practical__jokes .winners-numbers__box .winner-numbers {
  display: flex;
  flex-direction: column;
}

.winners-practical__jokes .winners-box__data {
  font-family: "Proxima Soft Black";
}

.winners-practical__jokes .winners-numbers {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  width: 300px;
}

.winners-practical__jokes .winners-numbers div {
  padding: 10px 0px;
}

.winners-practical__jokes .winners-numbers::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.practical-jokes {
  width: 100%;
}

.practical-jokes__title {
  padding-top: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

@media (max-width: 1620px) {
  .winners-background .winners-message {
    right: 15%;
    top: 7%;
    width: 330px;
  }
}

@media (max-width: 1450px) {
  .winners-background__athletics {
    left: 22%;
  }
}

@media (max-width: 1200px) {
  .winners-background__message {
    right: 0;
    width: 220px;
  }

  .winners-background .winners-message {
    width: 220px;
    right: 16%;
  }
}

@media (max-width: 1100px) {
  .winners-white__background {
    margin: 11% 0px 0px 0px;
  }
}

@media (max-width: 810px) {
  .winners-practical__jokes {
    display: block;
  }

  .winners-practical__jokes .winners-numbers {
    text-align: center;
    align-items: center;
  }

  .winners-background {
    height: 1145px;
    position: relative;
    background-position: center;
    margin-top: -345px;
  }

  .winners-background__athletics {
    position: absolute;
    top: -35%;
    left: 9%;
  }

  .winners-background__message {
    position: absolute;
    top: 42%;
    right: 26%;
  }

  .winners-background .winners-message {
    position: absolute;
    top: 27%;
    right: 50%;
    width: 250px;
  }

  .winners .winners-numbers__box {
    margin-right: 0px;
    align-items: center;
  }

  .winners-numbers {
    width: 100%;
    align-items: center;
  }

  .winners-box__data {
    text-align: center;
  }

  .winners-white__background {
    position: absolute;
    top: 1350px;
    z-index: -1;
    height: 456px;
  }
}

@media (max-width: 600px) {
  .winners-background__athletics {
    top: -35%;
    left: 2%;
    width: 90px;
  }

  .winners-background__message {
    top: 40%;
    right: 8%;
    width: 200px;
  }

  .winners-background .winners-message {
    width: 300px;
    top: 25%;
    right: 38%;
  }

  .winners-white__background {
    background-position: center;
    top: 1368px;
    height: 350px;
  }
}

@media (max-width: 470px) {
  .winners-background__athletics {
    left: 2%;
    width: 90px;
  }

  .winners-background__message {
    top: 43%;
    right: 3%;
    width: 180px;
  }

  .winners-background .winners-message {
    width: 320px;
    top: 23%;
    right: 25%;
  }
}

.footer {
  color: #ffffff;
  max-width: 100%;
  background-size: cover;
  background-image: url("images/background/footer-red.png");
}

.footer-content {
  width: 100%;
  padding-top: 180px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-logo__title {
  font-family: "Proxima Soft Black";
  font-size: 44px;
}

.footer-logo__descr {
  font-family: "Proxima Soft";
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.footer-nav__item {
  padding: 5px 20px;
}

.footer-nav__item a {
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .footer {
    background-image: url("images/background/footer-background__mobile.png");
  }

  .footer-content {
    padding-top: 85px;
  }

  .footer-content .footer-logo {
    padding-left: 20px;
  }

  .footer-content .footer-nav {
    width: 305px;
  }

  .footer-content .footer-earth {
    padding-right: 20px;
  }
}

.input-number {
  margin-top: 10px;
  outline: none;
  width: 220px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #27a7e3;
  background-color: #ffffff;
  color: #1c4fa2;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 26px;
}

.input-number:focus {
  border: 2px solid #134b9f;
}

.input-photo-box {
  background-size: cover;
  background-position: center;
  position: relative;
  text-decoration: none;
  width: 50px;
  height: 50px;
  box-shadow: 0 5px 0 #1e82b0;
  border-radius: 20px;
  background-color: #27a7e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-photo-box:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  box-shadow: 0 0px 0 #1e82b0;
  margin-top: -0.5px;
}

.input-photo-box .input-photo {
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  width: 47px;
  height: 55px;
  opacity: 0;
}

@media (max-width: 1100px) {
  .input-number {
    width: 190px;
    height: 50px;
    font-size: 22px;
  }

  .input-photo-box {
    width: 45px;
    height: 45px;
  }
}

.submit-btn {
  font-family: "Proxima Soft";
  outline: none;
  width: 180px;
  height: 50px;
  box-shadow: 0 5px 0 #c0330a;
  border-radius: 20px;
  background-color: #f3410d;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.submit-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  box-shadow: 0 0px 0 #c0330a;
  background-color: #c0330a;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0 5px 0 #1e82b0;
  border-radius: 20px;
  background-color: #27a7e3;
  cursor: pointer;
}

.close-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  box-shadow: 0 0px 0 #c0330a;
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.button-prev,
.button-next {
  margin: 0px 10px;
  width: 55px;
  height: 51px;
  box-shadow: 0 5px 0 #1e82b0;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #27a7e3;
  outline: none;
}

.button-prev img,
.button-next img {
  width: 26px;
  height: 21px;
}

.button-prev:active,
.button-next:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  box-shadow: 0 0px 0 #1e82b0;
  background-color: #1e82b0;
}

.check-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  visibility: hidden;
  background-color: rgba(113, 159, 202, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.check-popup__box {
  position: fixed;
  background: #ffffff;
  width: 600px;
  height: 400px;
  box-shadow: 0 5px 30px rgba(44, 71, 23, 0.2);
  border-radius: 20px;
  transform: scale(0);
  transition: all 0.5s 0.2s;
}

.check-popup__content {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 45px;
}

.check-popup__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}

.check-popup__top div {
  margin-top: -30px;
  margin-right: -10px;
}

.check-popup__center {
  text-align: center;
  width: 400px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.check-popup__active {
  display: block;
  transform: scale(1);
  transition: all 0.5s;
}

@media (max-width: 975px) {
  .check-popup__box {
    width: 500px;
    height: 350px;
  }
}

@media (max-width: 575px) {
  .check-popup__box {
    width: 350px;
    height: 400px;
  }

  .check-popup__box .check-popup__center {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .check-popup__box {
    width: 270px;
  }

  .check-popup__box .check-popup__center {
    width: 230px;
  }
}

.burger-menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background: #ffffff;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.burger-menu-content li {
  list-style: none;
  padding: 10px 0px;
}

.burger-menu-content a {
  font-family: 'Noteworthy';
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #27a7e3;
}
